nav {
  z-index: 1000;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
 
  width: 100%;
  gap: 2rem;
  padding: 1rem 2rem;
  transition: background 0.3s ease, backdrop-filter 0.3s ease;
  
}
nav ul p {
  color: var(--background);

  .github,
 .whatsapp {
    color: var(--background);
    cursor: pointer;
  }
}

nav.scrolled {
  background: var(--background);
  color: var(--foreground);
  backdrop-filter: blur(5rem);
  -webkit-backdrop-filter: blur(5rem);

    .github,
    .whatsapp {
        color: var(--foreground);
        cursor: pointer;
    }
}


  .github:hover,
  .whatsapp:hover {
    color:  #1e90ff;
  }


nav.scrolled ul p{
  color: var(--foreground);
}

nav section {
  width: 100%;
  justify-content: space-between;
}




nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
  margin: 0;
  padding: 0;
  color: var(--background);
}

nav ul li a {
  text-decoration: none;
  transition: color 0.3s ease;
}



.projectCard {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0;
  min-height: 600px;
}

.projectCard .project-image {
  transition: transform 0.5s ease;
  background-color: #0c0c0c95;
}



.projectCard:hover .project-image {
  transform: scale(1.1);
  height: 100%;
}

.projectCard .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
 
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  justify-content: flex-end;
  padding: 3rem;
  
  transform: translateY(100%);
  transition: transform 0.5s ease;

}


.projectCard:hover .overlay {
  transform: translateY(0);
}

.projectCard .overlay h3 {
  transform: translateY(20px);
  transition: transform 0.5s ease;
}

.projectCard:hover .projectTitle {
  transform: translateY(0);
}

.footer {
  background: var(--background);
  color: var(--foreground);
  margin-top: 8rem;
}

.footer section {
    flex-wrap: nowrap;
    width: auto;
}
.footer p {
    text-align: center;
}

.footer h1 {
    font-size: 8rem;
    text-shadow: 0rem 1rem 0.5rem #0c0c0c95;
}





